name: Pre-Commit Checks

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  precommit:
    name: precommit
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Set up Python 3.x
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"
      - run: python -m pip install tox
      - name: tox precommit
        run: tox
        env:
          TOXENV: precommit
